header.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50%;
  position: relative;
  border-bottom: solid 3px $brand-primary;
  margin-bottom: 12px;
}
.post-title {
  position: absolute;
  bottom: 20px;
  right: 66px;
  padding: 3px;
  text-align: right;
  color: white;
}
.home-link {
  $bottom: 0px;
  position: absolute;
  bottom: $bottom;
  line-height: 20px - $bottom;
  right: 66px;
  padding: 3px;
  text-align: right;
  color: white;
}
