header.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  position: relative;
  border-bottom: solid 2px $brand-primary;
  margin-bottom: 15px;
}
.post-title {
  position: absolute;
  bottom: 20px;
  right: 66px;
  padding: 3px;
  text-align: right;
  color: white;
}
