@import 'https://fonts.googleapis.com/css?family=Special+Elite';
@import 'https://fonts.googleapis.com/css?family=Cardo';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

//Fonts
$font-family-sans-serif:  'Open Sans';
$font-family-serif:       'Cardo';

$headings-font-family: 'Special Elite';
$font-family-base: 'Special Elite';

// Glyphicons font path
// $icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #0f339d;
$light-grey:            #cccccc;
$body-bg:               #ffffff;
