header {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  #brand-logo {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 25%;
  }
  #header-contact {
    h4 {
      line-height: 25px;
    }
  }
  .navbar-bar {
    border-top: solid thin $brand-primary;
    border-bottom: solid thin $brand-primary;
  }
}
