p {
  margin-bottom: 12px;
  margin-top: 12px;
}

body {
  background-image: url('../images/bg-world-outline.png');
  background-size: 95%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
html, body {
  height: 100%;
}
a {
  color: #005bab
}
