p {
  margin-bottom: 5px;
  margin-top: 5px;
}
nav.navbar {
  margin-bottom: 0px;
}
aside {
  margin-top: 20px;
  ul {
    list-style: none;
    padding-left: 20px;
  }
}
main {
  margin-top: 20px;
}
main.main--front {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}


.front-page__video-container {
  height: 100%;
  width: 100%;
}
.front-page__video {
  width: 100%;
  height: 100%;
}
.front-page__video-container:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100,100,100,0.25);
  top: 0;
}
