@import 'https://fonts.googleapis.com/css?family=Quattrocento+Sans';
@import 'https://fonts.googleapis.com/css?family=Quando';
@import 'https://fonts.googleapis.com/css?family=Pacifico';

//Fonts
$font-family-sans-serif:  'Quattrocento Sans';
$font-family-serif:       'Quando';

$headings-font-family: $font-family-serif;
$font-family-base: $font-family-sans-serif;


// Glyphicons font path
// $icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
// $brand-primary:         #2d8054;
$brand-primary:         #31a8cd;
$light-grey:            #ceD4d2;
$light-colour:          #84d9d0;
$dark-color:            #50ada4;
$body-bg:               #ffffff;
$navbar-default-bg:     #f1f4f7;
