@import 'https://fonts.googleapis.com/css?family=Quattrocento+Sans';
@import 'https://fonts.googleapis.com/css?family=Quando';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Petit+Formal+Script';
@import 'https://fonts.googleapis.com/css?family=Arimo';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';

//Fonts
$google-found-font:       'Petit Formal Script';
$font-family-sans-serif:  'Josefin Sans';
$font-family-serif:       'Quando';

$headings-font-family: $font-family-serif;
$font-family-base: $font-family-sans-serif;


// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #31a8cd;
$light-grey:            #ceD4d2;
$light-colour:          #84d9d0;
$dark-color:            #50ada4;
$body-bg:               #ffffff;
$navbar-default-bg:     #f1f4f7;
