p {
  margin-bottom: 5px;
  margin-top: 5px;
}
body {
  background-image: url('../images/bg-world-007.png');
  background-size: 95%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
}
html, body {
  height: 100%;
}
ul {
  list-style-type: none;
}
a:hover {
  text-decoration: none;
  color: lighten($brand-primary, 10%);
}
p a {
  border-bottom: dotted thin $brand-primary;
}
p {
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
