.breadcrumb {
  color: white;
  a {
    color: white;
  }
  background-color: $brand-primary;
  margin-top: -$gap;
  margin-bottom: $gap;
  border-bottom: solid 2px $brand-primary;
  h4, h6 {
    margin: 0px;
  }
  h6 {
    margin-top: 3px;
  }
}
article {
  header.article-header {
    .article-header-image {
      background-image: url('../images/header-bg.png');
      text-decoration: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      position: relative;
      border: solid thin $brand-primary;
      border-bottom: solid 2px $brand-primary;
    }
    .article-meta {
      color: black; 
      margin-left: $gap;
    }
  }
  p {
    margin-top: $gap;
    margin-bottom: $gap;
    font-size: 16px;
    line-height: 24px;
  }
  img {
    max-width: 400px;
    max-height: 400px;
    margin: $gap;
    border: solid thin $brand-primary;
    border-bottom: solid 2px $brand-primary;
  }
  img.aligncenter {
    margin: $gap auto;
  }
  img.alignright {
    margin: 10px 0px 10px 10px;
    float: right;
  }
  img.alignleft {
    margin: 10px 10px 10px 0px;
    float: left;
  }
}
