footer.site-footer {
  text-align: center;
  border-top: solid thin $brand-primary;
  margin-top: $gap;
  clear: both;
  line-height: 40px;
  a {
    margin-left: $gap/2;
    margin-right: $gap/2;
  }
}
