#sidebar {
  padding-left: 0px;
  margin-bottom: $gap;
  h4:first-child {
  }
  ul.categorised {
    li {
      width: 50%;
    }
  }
  ul {
    // background-color: white;
    padding: 4px;
    margin: 0px;
    li {
      width: 100%;
      border-top: solid thin transparent;
      border-bottom: solid thin transparent;
      ul {
        padding: 4px;
        visibility: hidden;
        float: right;
        width: 100%;
        position: absolute;
        left: 100%;
        top: -1;
        border-top: solid thin $brand-primary;
        border-bottom: solid thin $brand-primary;
        opacity: 0;
        transition: opacity 0.2s linear;
        li {
          width: 100%;
        }
      }
      &:hover {
        border-top: solid thin $brand-primary;
        border-bottom: solid thin $brand-primary;
        position: relative;
        ul {
          padding-top: 0px;
          padding-bottom: 0px;
          opacity: 1;
          visibility: visible;
          li {
            border: none;
          }
        }
      }
    }
  }
}
